In [1]:
import pandas as pd

# Input 파일들 불러오기

In [14]:
input01=pd.read_csv('/Users/minjikim/GitHub/DigitalHumanities/Darwin/work/intothecodingworld/task01/input01.csv',header=None)

In [15]:
input01

   0  1
0  1  A
1  2  B
2  3  C
3  4  D
4  5  E

In [53]:
input02=pd.read_csv('/Users/minjikim/GitHub/DigitalHumanities/Darwin/work/intothecodingworld/task01/input02.csv',header=None)

In [54]:
input02

   0  1
0  A  ㄱ
1  B  ㄴ
2  C  ㄷ
3  D  ㄹ
4  E  ㅁ

# 1열을 key로 반환 (열을 인덱스로 설정)

In [25]:
input01=input01.set_index(keys=0)

In [26]:
input01

   1
0
1  A
2  B
3  C
4  D
5  E

In [55]:
input02=input02.set_index(keys=0)

In [56]:
input02

   1
0
A  ㄱ
B  ㄴ
C  ㄷ
D  ㄹ
E  ㅁ

In [41]:
input01.to_dict()

{1: {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}}

# dataframe을 dictionary로 list 반환
> index를 key값으로 넣어서 딕셔너리로 반환 : {column:{index:value}}   
   >>*df.to_dict*

> 각 row를 딕셔너리로 해서 리스트로 반환해주기 : [{colummn1:value1, column2:value2}]
 >>*df.to_dict('records')*

    
> 각 row를 딕셔너리로 해서 딕셔너리로 반환 : {index : {column1:value1, column2:value2}}
 >>*df.to_dict('index')*

In [42]:
input001=input01.to_dict()

In [43]:
input001

{1: {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}}

In [57]:
input002=input02.to_dict()

In [58]:
input002

{1: {'A': 'ㄱ', 'B': 'ㄴ', 'C': 'ㄷ', 'D': 'ㄹ', 'E': 'ㅁ'}}

# input의 key값으로 output의 value값 찾기

In [77]:
#빈 dataframe 만들기
outputtt=pd.DataFrame()

In [79]:
for key1, value1 in input001[1].items():
    for key2, value2 in input002[1].items():
        if value1 == key2:
            outputtt=outputtt.append({0:key1,1:value2},ignore_index=True)
        else:
            continue
print(outputtt)

     0  1
0  1.0  ㄱ
1  2.0  ㄴ
2  3.0  ㄷ
3  4.0  ㄹ
4  5.0  ㅁ

#### 1열 int로 바꾸기

In [81]:
outputtt[0]=outputtt[0].astype(int)

In [82]:
outputtt.dtypes

0     int64
1    object
dtype: object

In [83]:
outputtt

   0  1
0  1  ㄱ
1  2  ㄴ
2  3  ㄷ
3  4  ㄹ
4  5  ㅁ

# output

In [93]:
pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1
WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python3.10 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [94]:
outputtt.to_excel('output.xlsx')

In [100]:
# index, heder 없애고 추출 ~ !!! 
outputtt.to_excel('output.xlsx',index=False,header=None)