In [3]:
pip install xlrd
pip intsall openpyxl
pip install pandas

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 KB 2.8 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\happyhill24\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.
ERROR: unknown command "intsall" - maybe you meant "install"

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-win_amd64.whl (10.9 MB)
     --------------------------------------- 10.9/10.9 MB 28.5 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 KB 15.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\happyhill24\appdata\roaming\python\python39\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\happyhill24\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\happyhill24\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\happyhill24\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

## 첫번째 input 파일

In [171]:
import pandas as pd

In [147]:
#헤더를 none으로 지정
df1 = pd.read_csv('input01.csv', header=None)

In [148]:
df1

   0  1
0  1  A
1  2  B
2  3  C
3  4  D
4  5  E

In [156]:
#df1의 첫번째 열 추출
df1[0]

0    1
1    2
2    3
3    4
4    5
Name: 0, dtype: int64

#### 시도해본 다른 방식
1열을 index로 주고 dictionary로 바꿔서 input1의 key에 대한 value값을 input2의 key로 찾아서 (1,ㄱ) 쌍을 찾으면 어떨까 했는데 그 방법은 모르겠네요.. (굳이? 싶기도 한데 그냥 궁금했어요)

In [154]:
#dictionary로 바꿔보기
dff1

{0: {0: 1, 1: 2, 2: 3, 3: 4, 4: 5},
 1: {0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}}

In [152]:
#0열을 인덱스로 만들기
dfff1=df1.set_index(0)

In [173]:
 dfff1

   1
0
1  A
2  B
3  C
4  D
5  E

In [129]:
dfff1=dff1.to_dict()

## 두번째 input 파일

In [118]:
df2=pd.read_csv('input02.csv',header=None)

In [119]:
df2

   0  1
0  A  ㄱ
1  B  ㄴ
2  C  ㄷ
3  D  ㄹ
4  E  ㅁ

In [157]:
df2[1]

0    ㄱ
1    ㄴ
2    ㄷ
3    ㄹ
4    ㅁ
Name: 1, dtype: object

여기도 그냥 시도...

In [125]:
dff2=df2.set_index(0)

In [131]:
dff2

   1
0
A  ㄱ
B  ㄴ
C  ㄷ
D  ㄹ
E  ㅁ

In [130]:
dfff2=dff2.to_dict()

## output 내기

In [159]:
#df1 0열과 df2 1열 concate
output=pd.concat([df1[0],df2[1]],axis=1)

In [163]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 249.8/249.8 KB 3.8 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'C:\Users\happyhill24\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [167]:
output.to_excel('output.xlsx',index=False,header=False)